.poke-card {
    display: block;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

/* .poke-img{
    display: flex;
    justify-content: center;
} */

.body-card {
    display: block;
    justify-content: center;
    margin:auto;
    border-color: black;
}